/* .container {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0);
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin-top: 75px;
} */

/* .calculator__display {
  background-color: black;
  color: white;
  display: flex;
  justify-content: right;
  width: 300px;
  height: 50px;
  padding: 10px;
  text-align: right;
} */

/* .calculator__keys {
  display: grid;
  justify-content: center;
  height: 75px;
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    ". . . . "
    "clear clear left divide"
    "seven eight nine times"
    "four five six minus"
    "one two three plus"
    "zero zero zero equal"
} */

/* .zero {
  grid-area: zero;
  background-color: lightgray;
}

.equal {
  grid-area: equal;
  background-color: orange;
}

.one {
  grid-area: one;
  background-color: lightgray;
}

.two {
  grid-area: two;
  background-color: lightgray;
}

.three {
  grid-area: three;
  background-color: lightgray;
}

.plus {
  grid-area: plus;
  background-color: orange
}

.four {
  grid-area: four;
  background-color: lightgray;
}

.five {
  grid-area: five;
  background-color: lightgray;
}

.six {
  grid-area: six;
  background-color: lightgray;
}

.minus {
  grid-area: minus;
  background-color: orange
}

.seven {
  grid-area: seven;
  background-color: lightgray;
}

.eight {
  grid-area: eight;
  background-color: lightgray;
}

.nine {
  grid-area: nine;
  background-color: lightgray;
}

.times {
  grid-area: times;
  background-color: orange
}

.clear {
  grid-area: clear;
  background-color: lightgray;
}

.left {
  grid-area: left;
  background-color: lightgray;
}

.divide {
  grid-area: divide;
  background-color: orange;
}
body {
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: auto;
} */


#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin-top: 75px;
}

.btn-gray {
    font-size: 40px;
    width: 100px;
    height: 100px;
    opacity: 1;
    transition: 0.3s;
}

.btn-gray:hover {
  opacity: 0.5;
  background-color: lightgray;
  cursor: pointer;
}

.btn-o:hover {
  opacity: 0.5;
  background-color: #DF974C;
  cursor: pointer;
}

.btn-lg-gray:hover {
  opacity: 0.5;
  background-color: lightgray;
  cursor: pointer;
}

.btn-Xlg-gray:hover {
  opacity: 0.5;
  background-color: lightgray;
  cursor: pointer;
}

.btn-o {
    color: white;
    font-size: 40px;
    width: 100px;
    height: 100px;
    background-color: #DF974C;
    border: 1px solid black ;
    opacity: 1;
    transition: 0.3s;
}
.btn-lg-gray {
  font-size: 40px;
  width: 200px;
  height: 100px;
  opacity: 1;
  transition: 0.3s;
}
.btn-Xlg-gray {
  font-size: 40px;
  width: 300px;
  height: 100px;
  opacity: 1;
  transition: 0.3s;
}
.row-0 {
  display: flex;
  justify-content: end;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  font-family: arial;
  font-size: 40px;
  color: white;
  background-color: black;
}
.row-1{
  display: flex;
  justify-content: center;
  font-size: 0;
  width: 400px;
  height: 100px;
}
.row-2 {
  display: flex;
  width: 400px;
  height: 100px;
}

.row-3 {
  display: flex;
  width: 400px;
  height: 100px;
}
.row-4 {
  display: flex;
  width: 400px;
  height: 100px;
}
.row-5 {
  display: flex;
  width: 400px;
  height: 100px;
}
